In [33]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
data = pd.read_csv("Team_Sports_Survey_Preprocessed.csv")

In [34]:
# Get the rows which Number of Companions is 10+
companion = data[data["Number of Companions"] == "10+"]

In [35]:
# Split the values into a single items
companion["Preferred Beach Activities"] = companion["Preferred Beach Activities"].str.split(",")

# Convert the items into a transactional data 
transactions = companion["Preferred Beach Activities"].explode().str.strip().reset_index()
transactions_encoded = transactions.pivot_table(index="index", columns="Preferred Beach Activities", aggfunc=lambda x: 1, fill_value=0)

C:\Users\joaqu\AppData\Local\Temp\ipykernel_20696\1179435605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companion["Preferred Beach Activities"] = companion["Preferred Beach Activities"].str.split(",")

In [38]:
# Use Apriori algorithm to find frequent association
frequent_items= apriori(transactions_encoded, min_support=0.40, use_colnames=True) # threshold 40%
rule = association_rules(frequent_items)
rule[['antecedents','consequents','support', 'confidence', 'lift']].sort_values("confidence", ascending=False)

C:\Users\joaqu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,support,confidence,lift
0,(Jetskiing),(Beach Swimming),0.4,1.0,1.666667
335,"(Jetskiing, Beach Swimming)","(Kayaking/Paddling, Surfboarding, Fishing)",0.4,1.0,2.500000
348,"(Snorkeling/Scuba Diving, Jetskiing, Beach Swi...","(Surfboarding, Fishing)",0.4,1.0,2.500000
347,"(Surfboarding, Snorkeling/Scuba Diving, Fishing)","(Jetskiing, Beach Swimming)",0.4,1.0,2.500000
346,"(Snorkeling/Scuba Diving, Fishing, Beach Swimm...","(Surfboarding, Jetskiing)",0.4,1.0,2.500000
...,...,...,...,...,...
165,"(Surfboarding, Fishing, Beach Swimming)",(Snorkeling/Scuba Diving),0.4,1.0,2.500000
164,"(Surfboarding, Snorkeling/Scuba Diving, Beach ...",(Fishing),0.4,1.0,1.666667
163,"(Surfboarding, Snorkeling/Scuba Diving, Fishing)",(Beach Swimming),0.4,1.0,1.666667
162,(Kayaking/Paddling),"(Surfboarding, Fishing, Beach Swimming)",0.4,1.0,2.500000
508,(Jetskiing),"(Kayaking/Paddling, Snorkeling/Scuba Diving, F...",0.4,1.0,2.500000