In [30]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
data = pd.read_csv("Team_Sports_Survey_Preprocessed.csv")

In [31]:
# Get the rows which Number of Companions is 7-9
companion = data[data["Number of Companions"] == "7-9"]

In [32]:
# Split the values into a single items
companion["Preferred Beach Activities"] = companion["Preferred Beach Activities"].str.split(",")

# Convert the items into a transactional data 
transactions = companion["Preferred Beach Activities"].explode().str.strip().reset_index()
transactions_encoded = transactions.pivot_table(index="index", columns="Preferred Beach Activities", aggfunc=lambda x: 1, fill_value=0)

C:\Users\joaqu\AppData\Local\Temp\ipykernel_17472\1179435605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companion["Preferred Beach Activities"] = companion["Preferred Beach Activities"].str.split(",")

In [33]:
# Use Apriori algorithm to find frequent association
frequent_items= apriori(transactions_encoded, min_support=0.5, use_colnames=True) # threshold 50%
rule = association_rules(frequent_items)
rule[['antecedents','consequents','support', 'confidence', 'lift']].sort_values("confidence", ascending=False)

C:\Users\joaqu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   antecedents          consequents  support  confidence  lift
0  (Jetskiing)  (Kayaking/Paddling)      0.6         1.0  1.25