In [9]:
import pandas as pd
import re
from mlxtend.frequent_patterns import apriori, association_rules
data = pd.read_csv("Team_Sports_Survey_Preprocessed.csv")
# remove the eg. for each items
def remove_parentheses(text):
    if isinstance(text, str):  
        return re.sub(r"\s*\(.*?\)", "", text)
    return text

In [10]:
# Get the rows which Number of Companions is 10+
companion = data[data["Number of Companions"] == "10+"]

In [11]:
# Split the values into a single items
companion["Preferred Swimming Pool Activities"] = companion["Preferred Swimming Pool Activities"].apply(remove_parentheses).str.split(",")

# Convert the items into a transactional data 
transactions = companion["Preferred Swimming Pool Activities"].explode().str.strip().reset_index()
transactions_encoded = transactions.pivot_table(index="index", columns="Preferred Swimming Pool Activities", aggfunc=lambda x: 1, fill_value=0)

C:\Users\joaqu\AppData\Local\Temp\ipykernel_14040\76692546.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companion["Preferred Swimming Pool Activities"] = companion["Preferred Swimming Pool Activities"].apply(remove_parentheses).str.split(",")

In [12]:
# Use Apriori algorithm to find frequent association
frequent_items= apriori(transactions_encoded, min_support=0.2, use_colnames=True) # threshold 30%
rule = association_rules(frequent_items)
rule[['antecedents','consequents','support', 'confidence', 'lift']].sort_values("confidence", ascending=False)

C:\Users\joaqu\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,support,confidence,lift
0,(Play with Pool Toys),(Practice Actual Swimming Techniques),0.25,1.0,1.333333
1,(Play with Pool Toys),(Relaxing in Pool),0.25,1.0,1.333333
2,"(Play with Pool Toys, Relaxing in Pool)",(Practice Actual Swimming Techniques),0.25,1.0,1.333333
3,"(Play with Pool Toys, Practice Actual Swimming...",(Relaxing in Pool),0.25,1.0,1.333333
4,(Play with Pool Toys),"(Practice Actual Swimming Techniques, Relaxing...",0.25,1.0,2.000000